<footer class="d-flex flex-wrap justify-content-between align-items-end py-3 border-top fondo">
    <div>
      <a href="/nosotros" class="nav-link fs-4 text-light">Quienes Somos</a>
      <a href="/legales" class="nav-link fs-4 text-light">Terminos y Condiciones</a>
    </div>

    <ul class="nav align-items-center">
      <li class="nav-item">
        <p class="mb-2 fs-4 px-2 text-light">Redes Sociales</p>
      </li>
      <li class="nav-item"><a href="#" class="fa fa-instagram"></a></li>
      <li class="nav-item"><a href="#" class="fa fa-facebook"></a></li>
    </ul>
  </footer>