<nav class="py-3 mb-4 border-bottom fondo">
    <div class="container-fluid d-flex flex-wrap justify-content-center">
      <a class="navbar-brand fs-3 col-lg-auto me-lg-auto mb-2 mb-md-0 text-light" href="/">HNK Tech</a>
      <form class="nav col-12 col-lg-auto me-lg-auto mb-3 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Buscar productos..."
          aria-label="Search">
      </form>

      <div>
        <ul class="nav">
          <li class="nav-item"><a href="/login" class="nav-link link-dark px-2 text-light">Iniciar sesion</a></li>
          <li class="nav-item"><a href="/registro" class="nav-link link-dark px-2 text-light">Registrarse</a></li>
        </ul>
        <div class="d-flex justify-content-end col-8 col-lg-auto">
          <button class="switch" id="switch">
            <span><i class="fas fa-sun"></i></span>
            <span><i class="fas fa-moon"></i></span>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <ul class="nav fs-4 col-8">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/catalogo" role="button"> Catalogo </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/contacto">Contacto</a>
        </li>
      </ul>
      <div class="d-flex justify-content-end">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link fs-4 text-light" href="/carrito">Carrito <img src="../assets/images/carrito.png"
                alt="carrito" class="img-fluid"></a>
          </li>
        </ul>
      </div>
    </div>

  </nav>